<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <link rel="icon" href="/static/morphic-logo.png">
    <link rel="stylesheet" href="{{style}}">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- code -->
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
    >

    <!-- text -->
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
    >
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <div class="spacer"></div>
      <div id="nav-logo">
        <img src="/static/morphic-logo.png" height="80" width="80">
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <a href="#top" class="header">
        <span>{{(normalize-mod-name self_.name)}}</span>
      </a>
      <div class="spacer"></div>

      <!-- modules -->
      {{#if (nonempty children)}}
        <hr>
        <a href="#mods" class="section-header">
          <span>Modules</span>
        </a>
        <hr>
        {{#each children}}
          <a href="#mod.{{self_.name}}" class="section-entry">
            <span>{{self_.name}}</span>
          </a>
        {{/each}}
      {{/if}}

      <!-- types -->
      {{#if (nonempty types)}}
        <hr>
        <a href="#types" class="section-header">
          <span>Types</span>
        </a>
        <hr>
        {{#each types}}
          <a href="#type.{{custom.name}}" class="section-entry">
            <span>{{custom.name}}</span>
          </a>
        {{/each}}
      {{/if}}

      <!-- values -->
      {{#if (nonempty vals)}}
        <hr>
        <a href="#values" class="section-header">
          <span>Values</span>
        </a>
        <hr>
        {{#each vals}}
          <a href="#value.{{name}}" class="section-entry">
            <span>{{name}}</span>
          </a>
        {{/each}}
      {{/if}}

      <!-- functions -->
      {{#if (nonempty funcs)}}
        <hr>
        <a href="#funcs" class="section-header">
          <span>Functions</span>
        </a>
        <hr>
        {{#each funcs}}
          <a href="#func.{{name}}" class="section-entry">
            <span>{{name}}</span>
          </a>
        {{/each}}
      {{/if}}
    </nav>

    <!-- content -->
    <main>
      <div class="header" id="top">
        <p>Module {{self_.name}}</p>
      </div>
      <div class="body">
        <p>{{{self_.html}}}</p>
      </div>

      <!-- modules -->
      {{#if (nonempty children)}}
        <div class="section-header" id="mods">
          <p>Modules</p>
        </div>
        {{#each children}}
          <div class="section-entry-header" id="mod.{{self_.name}}">
            <p>{{self_.def}}</p>
          </div>
          <div class="section-entry-body">
            <p>{{{self_.summary}}}</p>
          </div>
        {{/each}}
      {{/if}}

      <!-- types -->
      {{#if (nonempty types)}}
        <div class="section-header" id="types">
          <p>Types</p>
        </div>
        {{#each types}}
          <div class="section-entry-header" id="type.{{custom.name}}">
            <p>{{custom.def}}</p>
          </div>
          <div class="section-entry-body">
            <p>{{{custom.html}}}</p>
          </div>

          <!-- variants -->
          {{#if (nonempty variants)}}
            <div class="subsection-header">
              <p>Variants</p>
            </div>
            {{#each variants}}
              <div class="subsection-entry-header">
                <p>{{def}}</p>
              </div>
              <div class="subsection-entry-body">
                <p>{{{html}}}</p>
              </div>
            {{/each}}
          {{/if}}
          <!--##########-->

        {{/each}}
      {{/if}}

      <!-- values -->
      {{#if (nonempty vals)}}
        <div class="section-header" id="values">
          <p>Values</p>
        </div>
        {{#each vals}}
          <div class="section-entry-header" id="value.{{name}}">
            <p>{{def}}</p>
          </div>
          <div class="section-entry-body">
            <p>{{{html}}}</p>
          </div>
        {{/each}}
      {{/if}}

      <!-- functions -->
      {{#if (nonempty funcs)}}
        <div class="section-header" id="funcs">
          <p>Functions</p>
        </div>
        {{#each funcs}}
          <div class="section-entry-header" id="func.{{name}}">
            <p>{{def}}</p>
          </div>
          <div class="section-entry-body">
            <p>{{{html}}}</p>
          </div>
        {{/each}}
      {{/if}}
    </main>
  </body>
</html>